.flex {
    display: flex;
}

.flex-item-left {
    margin-right: 1%;
    flex-grow: 0.33;
}

.flex-item-right {
    flex-grow: 1;
}

.form {
    width: 100%;
}

#filter-form {
    display: none;
}

.button {
    background: #222;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

.head {
    display: inline-block;
}